*{
    box-sizing: border-box;
}
body{
    background-color: #f8f8f8;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.header{
    display: flex;
    justify-content: space-between;
   overflow: hidden;    
   background-color: gray;
}

.header nav{
    background-color: gray;
    padding: 10px;
}
h1{
    display: flex;
    margin: 5px 0 10px;
    padding-left: 35px;
    padding-right: 10px;
    align-items: center;
    background-color: purple;
    color: white;
}
a{
    position: relative;
    text-decoration: none;
    border-bottom: 3px solid;
    background-color: gray;
    color: purple;

}
.navLinks li{
    display: inline;
    list-style-type: none; 
    margin: 0 10px;
}

.container img{ 
   
    display: flex;   
    width: 100%;
    height: 175px;
    object-fit: cover;
    object-position: 10% 60%; 
}
.imageText{
    position: fixed;
    bottom: 500px;
    right: 0px;
    padding: 2px;
    margin-bottom:10px;
    background-color: purple;
    color: white;

}
.container h3{
    display: inline;
    border: 2;
}
.contact{
    display: flex;
}
.contact li {
    background-color: #f8f8f8;
    display: inline;
    justify-content: space-evenly;
    padding: 5px 30px;
    list-style-type: none;
 
}
.contact a{
    text-decoration: none;
    border-bottom: 2px solid black;
    background-color: #f8f8f8;
    color: black;
    margin-bottom: 5px;

}
.contact li:first-child{
    border-bottom: 2.4px solid black;
    padding: 0px;
}
.card{
    
}
.card img{
    display: inline;
    width: 500px;
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {  
}
@media screen and (max-width: 576px ) {
   
}