.header{
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
   overflow: hidden;
}
nav{
    padding: 10px;
}
h1{
    padding-left: 30px;
}
a{
    text-decoration: none;
    border-bottom: 3px solid;
    color: blueviolet;
}
.navLinks li{
    display: inline;
    list-style-type: none; 
    margin: 0 15px;
}
